.widget
  .widget-title
    i(class='fa fa-you') &nbsp;广告
  // google ads
  script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  // Flygon250x250
  ins(class="adsbygoogle" style="display:inline-block;width:250px;height:250px" data-ad-client="ca-pub-3565452474788507" data-ad-slot="9493159174")
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
