.widget
  .widget-title
    i(class='fa fa-you') &nbsp;链接
  ul
    li
      a(href="https://apachecn.org") 布客
    li
      a(href="https://github.com/apachecn") ApacheCN
    li
      a(href="http://it-ebooks.flygon.net") 布客新知
    li
      a(href="http://flygon.net") 龙哥盟
